<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mx.edu.utez.ejercicios">
    <!-- Le damos permiso de que pueda usar internet -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Permisos necesarios para MAPS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".EjerciciosApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ejercicios"
        tools:targetApi="31">

        <!-- Servicio de notificaciones de Firebase -->
        <service
            android:name=".notificacion.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:value="@mipmap/ic_launcher" />
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />

        <activity
            android:name=".notificacion.NotificacionActivity"
            android:exported="false" />
        <activity
            android:name=".auth.ProfileActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".romano.RomanoActivity"
            android:exported="false" />
        <!--
             Before you run your application, you need a Google Maps API key.
             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".

             Don't forget add your google_maps_api.xml to string values
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".mapas.MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".auth.AuthActivity"
            android:exported="false" />
        <activity
            android:name=".datastore.DetailDatastoreActivity"
            android:exported="false" />
        <activity
            android:name=".datastore.MenuDatastoreActivity"
            android:exported="false" />
        <activity
            android:name=".datastore.ConsultaDatastoreActivity"
            android:exported="false" />
        <activity
            android:name=".datastore.DatastoreActivity"
            android:exported="false" />
        <activity
            android:name=".rest.activity.EliminarRestActivity"
            android:exported="false" />
        <activity
            android:name=".rest.activity.DetailActivityRest"
            android:exported="false" />
        <activity
            android:name=".rest.activity.RegistrarRestActivity"
            android:exported="false" />
        <activity
            android:name=".rest.activity.MainRestActivity"
            android:exported="false" />
        <activity
            android:name=".rest.activity.ConsultaRestActivity"
            android:exported="false" />
        <activity
            android:name=".calculadoramvvm.view.MenuFigurasActivity"
            android:exported="false" />
        <activity
            android:name=".calculadoramvvm.view.TrianguloActivity"
            android:exported="false" />
        <activity
            android:name=".calculadoramvvm.view.CuadradoActivity"
            android:exported="false" />
        <activity
            android:name=".calculadoramvvm.view.CirculoActivity"
            android:exported="false" />
        <activity
            android:name=".mvvm.view.MainMvvmActivity"
            android:exported="false" />
        <activity
            android:name=".examenunidad1.RegistrarActivity"
            android:exported="false" />
        <activity
            android:name=".examenunidad1.ConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".examenunidad1.MainExamenU1Activity"
            android:exported="false" />
        <activity
            android:name=".calculatormvp.CalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".mvp.MainMvpActivity"
            android:exported="false" />
        <activity
            android:name=".shared.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".db.RegistroActivity"
            android:exported="false" />
        <activity
            android:name=".listas.AlumnoInfoActivity"
            android:exported="false" />
        <activity
            android:name=".listas.ListaActivity"
            android:exported="false" />
        <activity
            android:name=".splash.HomeSplashActivity"
            android:exported="false" /> <!-- @style/Theme.AppCompat.NoActionBar: Para quitar la barra de arriba de ejercicios -->
        <activity
            android:name=".splash.SplashActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MenuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".vistas.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".vistas.ShowDataActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>